<section id="footer">
  <footer>
    <div class="wrapperFooter">
      <div class="textbox">
        <div class="name">
          <a href="">
            <span id="name">Patrick</span>
          </a>
          <a
            routerlink="/legal"
            routerlinkactive="active"
            id="impressum"
            href="#/legal"
            class="cursor"
            >Impressum</a
          >
        </div>
        <span class="copyright">© Patrick Klein 2024</span>
        <div class="socials">
          <a target="_blank" href="https://github.com/PatrickKL1610">
            <img id="github-button" src="../../assets/img/github_button.png" />
          </a>
          <a href="mailto:patrick@kleinfam.de">
            <img id="email-button" src="../../assets/img/email_button.png" />
          </a>
          <a
            target="blank"
            href="https://www.linkedin.com/in/patrick-klein-379b20255/"
            ><img
              id="linkedin-button"
              src="../../assets/img/linkedin_button.png"
          /></a>
        </div>
        <a
          routerlink="/legal"
          routerlinkactive="active"
          href="#/legal"
          class="cursor d-none"
          >Impressum</a
        >
      </div>
    </div>
  </footer>
</section>
