<header class="header">
  <div class="navbar-container">
    <div class="logo">
      <a href="" class="active">
        <span>P</span>
        <span>a</span>
        <span>t</span>
        <span>r</span>
        <span class="i-styling">i</span>
        <span>c</span>
        <span class="k-styling">k</span>
      </a>
    </div>

    <div>
      <div class="headerlinks">
        <a href="#aboutme">About me</a>
        <a href="#myskills">Skills</a>
        <a href="#myportfolio">Portfolio</a>
      </div>
      <div class="burger" (click)="toggleBurgerMenu($event)">
        <img src="../../assets/img/burger_menu.png" />
      </div>
    </div>
  </div>
</header>

<div
  class="burgerMenu"
  [class.show]="isBurgerMenuVisible"
  (click)="closeBurgerMenu($event)"
>
  <div class="orientation">
    <div>
      <a href="#aboutme" (click)="closeBurgerMenu($event)">About me</a>
      <a href="#myskills" (click)="closeBurgerMenu($event)">Skills</a>
      <a href="#myportfolio" (click)="closeBurgerMenu($event)">Portfolio</a>
      <a href="#mycontact" (click)="closeBurgerMenu($event)">Contact</a>
    </div>
  </div>
</div>
