<header class="header">
  <div class="navbar-container">
    <div class="logo">
      <a href="#/" class="active">
        <span>P</span>
        <span>a</span>
        <span>t</span>
        <span>r</span>
        <span class="i-styling">i</span>
        <span>c</span>
        <span class="k-styling">k</span>
      </a>
    </div>

    <div>
      <div class="d-none">
        <a href="#aboutme">About me</a>
        <a href="#myskills">Skills</a>
        <a href="#mypotfolio">Portfolio</a>
      </div>
      <div class="burger d-none">
        <img src="../../assets/img/burger_menu.png" />
      </div>
    </div>
  </div>
</header>

<div class="burgerMenu">
  <div class="orientation">
    <div>
      <a href="#aboutme">About me</a>
      <a href="#myskills">Skills</a>
      <a href="#mypotfolio">Portfolio</a>
      <a href="#mycontact">Contact</a>
    </div>
  </div>
</div>
