@import "../../assets/colors.scss";

.header {
  max-width: 1920px;
  width: 100%;
  height: 100px;
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 999;
  padding: 24px 50px;
  background-color: $darkblueBG;
  div {
    display: flex;
    text-wrap: nowrap;
    margin-right: 24px;
  }
  .name a {
    margin-left: 0;
  }
  div a {
    text-decoration: none;
    color: $white;
    cursor: pointer;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    margin-left: 32px;
  }
  .logo {
    align-items: center;
  }
  span {
    cursor: pointer;
    font-size: 35px;
    font-weight: 400;
    line-height: 27.6px;
  }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    min-width: 320px;
  }
}

.navbar-links {
  a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
  }
}

.i-styling {
  background: linear-gradient(to top, $white 65%, $specpurple 15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.k-styling {
  background: linear-gradient(to right, $white 30%, $specgreen 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.burger {
  display: none !important;
}
.headerlinks a.active,
.burgerMenu a.active {
  color: $specgreen !important;
}

.headerlinks a,
.burgerMenu a {
  color: $white !important;
  text-decoration: none;
  padding: 10px;
}
select {
  width: 100%;
  padding: 10px;
  border: 1px solid $specgreen;
  border-radius: 5px;
  background-color: $darkblueBG;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $specgreen;
}

.select-container::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: $specgreen;
}

.select-container {
  position: relative;
  display: inline-block;
  width: 200px;
  margin: 0;
}

select:hover,
select:focus {
  border-color: $specgreen;
  outline: none;
  cursor: pointer;
}

.burgerMenu {
  position: fixed;
  right: 0;
  top: 148px;
  padding-top: 16px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 102vw;
  height: 100vh;
  background-color: $bluezodiac;
  transform: translate(102vw);
  transition: all 125ms ease-in-out;
  .orientation {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
  }

  a {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    text-decoration: none;
    cursor: pointer;
    font-family: Poppins;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    margin-bottom: 29px;
  }
}

.burgerMenu.show {
  transform: translate(0);
}

@media (max-width: 1130px) {
  .burger {
    display: flex !important;
    img {
      width: 25px;
      height: 25px;
    }
  }
  .headerlinks {
    display: none !important;
  }
}
