<section>
  <img class="green_line" src="../../assets/img/green_line.png" />
  <div class="startwrapper">
    <div class="headlinebox">
      <div class="horizontal">
        <img class="purple_shadow" src="../../assets/img/Purple shadow 1.png" />
        <div class="namebox">
          <span class="iam"> I am</span>
          <div class="namediv">
            <span id="name">Patrick Klein</span>
            <span id="title">FRONTEND DEVELOPER</span>
          </div>
        </div>
        <img class="blue_shadow" src="../../assets/img/Blue shadow 1 V2.png" />
      </div>
    </div>
    <div class="letstalk">
      <a href="#mycontact">
        <button>Let's talk!</button>
      </a>
    </div>
    <div id="myaboutme" class="sociallinks">
      <img src="../../assets/img/github_button.png" />
      <a href="mailto:patrick@kleinfam.de">
        <img src="../../assets/img/email_button.png" />
      </a>
      <img src="../../assets/img/linkedin_button.png" />
    </div>
    <div class="scrolldown">
      <span> Scroll down </span>
    </div>
  </div>
</section>
