<div class="start-screen">
  <div>
    <div class="textbox_position">
      <div class="textbox">
        <div class="iamcontainer">
          <p class="iam_box">I am</p>
        </div>
        <div class="textcontainer">
          <p class="name">Patrick Klein</p>
          <p class="developer">Frontend Developer</p>
        </div>
      </div>
    </div>
    <div class="shadows">
      <div>
        <img
          class="shadow_blue"
          src="../../assets/img/Blue shadow 1 V2.png"
          alt=""
        />
      </div>
      <div>
        <img
          class="shadow_purple"
          src="../../assets/img/Purple shadow 1.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="button">
    <a href="">
      <button>Let's talk!</button>
    </a>
  </div>
</div>
