<div class="start-screen">
  <div>
    <div class="photobox">
      <img
        class="profile_bckg"
        src="../../assets/img/photo shadows.png"
        alt=""
      />
      <img class="profile_image" src="../../assets/img/dummy.png" alt="" />
    </div>
    <div class="textbox">
      <div class="iamcontainer">
        <p class="iam_box">I am</p>
      </div>
      <div class="textcontainer">
        <p class="name">Patrick Klein</p>
        <p class="developer">Frontend Developer</p>
      </div>
    </div>
  </div>
</div>
