@import "../../assets/colors.scss";

.start-screen {
  background-color: $darkblueBG;
  height: 100vh;
  width: 100vw;
}

.photobox {
  .profile_image {
    width: auto;
    height: 75vh;
    position: absolute;
    top: 106px;
    left: 47px;
  }
  .profile_bckg {
    height: 75vh;
    width: auto;
    position: absolute;
    top: 166px;
    left: 12px;
  }
}

.textbox_position {
  display: flex;
  justify-content: center;
}

.textbox {
  display: flex;
  position: absolute;
  top: 280px;
  .iamcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .iam_box {
      rotate: -90deg;
      color: white;
      font-size: 74px;
      line-height: 76.8px;
    }
  }
  .textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .name {
      font-family: Poppins700;
      color: white;
      font-size: 128px;
      line-height: 108px;
    }

    .developer {
      font-family: Poppins400;
      color: $specpurple;
      font-size: 64px;
      line-height: 69.6px;
    }
  }
}

.shadows {
  position: relative;
  width: 100vw;
  height: 938.61px;
  overflow: hidden;
}
.shadow_purple {
  position: absolute;
  top: 130px;
  left: -250px;
}

.shadow_blue {
  position: absolute;
  top: 100px;
  right: -450px;
}
