<section>
  <div class="anchorpointaboutme">
    <a id="aboutme"></a>
  </div>
  <div class="aboutwrapper">
    <div class="aboutmecontainer">
      <div class="aboutme">
        <h1
          data-aos="fade-left"
          data-aos-duration="1500"
          class="aos-init aos-animate"
        >
          {{ texts.ABOUT_ME }}
        </h1>
        <span
          data-aos="fade-left"
          data-aos-duration="1500"
          class="aos-init aos-animate"
        >
          {{ texts.HELLO }}
        </span>
        <div
          data-aos="fade-left"
          data-aos-duration="1500"
          class="infoBulb aos-init aos-animate"
        >
          <img class="images" src="../../assets/img/bulb_desktop.png" />
          <span>{{ texts.TEAMWORK }} </span>
        </div>
        <div
          id="mySkills"
          data-aos="fade-left"
          data-aos-duration="1500"
          class="infoPuzzle aos-init aos-animate"
        >
          <img class="images" src="../../assets/img/puzzle_white.png" />
          <span>{{ texts.EXPERIENCE }} </span>
        </div>
      </div>
      <div class="profileImageContainer">
        <img class="profileshadows" src="../../assets/img/photo_shadows.png" />
        <img class="profilepic" src="../../assets/img/profilepic.png" />
      </div>
    </div>
  </div>
  <div class="vector">
    <img src="../../assets/img/vector_about.png" />
  </div>
  <div id="myskills"></div>
</section>
