<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

<section>
  <div class="anchorpointaboutme">
    <a id="anchorAboutMe"></a>
  </div>
  <div class="aboutwrapper">
    <div class="aboutmecontainer">
      <div class="aboutme">
        <h1
          data-aos="fade-left"
          data-aos-duration="1500"
          class="aos-init aos-animate"
        >
          About me
        </h1>
        <span
          data-aos="fade-left"
          data-aos-duration="1500"
          class="aos-init aos-animate"
          >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias ipsum
          distinctio repellat perferendis. Architecto suscipit saepe dolor
          perferendis iste, nulla minima facere, aspernatur, ut voluptate
          laboriosam sed ad qui natus?
        </span>
        <div
          data-aos="fade-left"
          data-aos-duration="1500"
          class="infoBulb aos-init aos-animate"
        >
          <img class="images" src="../../assets/img/bulb_desktop.png" />
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
            eum veritatis repellendus dolore maxime et ullam reprehenderit
            debitis deleniti quia at, molestiae tempore? Debitis totam enim
            consectetur sequi recusandae nisi?
          </span>
        </div>
        <div
          id="mySkills"
          data-aos="fade-left"
          data-aos-duration="1500"
          class="infoPuzzle aos-init aos-animate"
        >
          <img class="images" src="../../assets/img/puzzle_white.png" />
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            sapiente eaque nulla mollitia, quod dolor cum rem sit consequatur
            praesentium necessitatibus quos asperiores debitis rerum beatae,
            quas repudiandae dolorem deleniti.
          </span>
        </div>
      </div>
      <div class="profileImageContainer">
        <img class="profileshadows" src="../../assets/img/photo_shadows.png" />
        <img class="profilepic" src="../../assets/img/dummy.png" />
      </div>
    </div>
  </div>
  <div class="vector">
    <img src="../../assets/img/vector_about.png" />
  </div>
</section>
