<section>
  <div class="wrapperContact">
    <div data-aos="fade-right" class="headline aos-init aos-animate">
      <h1>{{ texts.CONTACT }}</h1>
      <img src="../../assets/img/greenLineContacts.png" />
    </div>
    <div class="middleSection">
      <div data-aos="fade-right" class="contactTextbox aos-init aos-animate">
        <div class="contactTextheadline">
          <h2>{{ texts.PROPLEM_SOLVE }}</h2>
        </div>
        <div class="contactText">
          <span>
            {{ texts.CONTACT_ME }}
          </span>
          <span class="callToAction">
            {{ texts.NEED }}
            <br />
            <b>{{ texts.CONTACT_TO_ME }}</b>
          </span>
        </div>
      </div>
      <form
        id="contactForm"
        name="contactForm"
        (ngSubmit)="onSubmit(contactForm)"
        #contactForm="ngForm"
        novalidate
        data-aos="fade-left"
        class="formGab aos-init aos-animate"
      >
        <div class="inputGab">
          <div class="inputBox">
            <input
              name="name"
              type="text"
              id="inputName"
              required
              placeholder="{{ texts.NAME_PLACEHOLDER }}"
              [(ngModel)]="contactData.name"
              #name="ngModel"
              (blur)="name.control.markAsTouched()"
            />
            <img
              [class.d-none]="!name.invalid || !name.touched"
              id="errorImgName"
              class="imgPositioning"
              src="../../assets/img/errorSymbol.png"
            />
            <img
              [class.d-none]="name.invalid || !name.touched"
              id="successImgName"
              class="imgPositioning"
              src="../../assets/img/successSymbol.png"
            />
          </div>
          <span [class.d-none]="!name.invalid || !name.touched" id="errorName">
            {{ texts.NAME_ERROR }}
          </span>
        </div>
        <div class="inputGab">
          <div class="inputBox">
            <input
              name="email"
              type="email"
              id="inputMail"
              required
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              placeholder="{{ texts.EMAIL_PLACEHOLDER }}"
              [(ngModel)]="contactData.email"
              #email="ngModel"
              (blur)="email.control.markAsTouched()"
            />
            <img
              [class.d-none]="!email.invalid || !email.touched"
              id="errorImgMail"
              class="imgPositioning"
              src="../../assets/img/errorSymbol.png"
            />
            <img
              [class.d-none]="email.invalid || !email.touched"
              id="successImgMail"
              class="imgPositioning"
              src="../../assets/img/successSymbol.png"
            />
          </div>
          <span
            [class.d-none]="!email.invalid || !email.touched"
            id="errorMail"
          >
            {{ texts.EMAIL_ERROR }}
          </span>
        </div>
        <div class="inputGab">
          <div class="inputBox">
            <textarea
              name="text"
              minlength="4"
              id="inputText"
              required
              placeholder="{{ texts.MESSAGE_PLACEHOLDER }}"
              [(ngModel)]="contactData.message"
              #message="ngModel"
              (blur)="message.control.markAsTouched()"
            ></textarea>
            <img
              [class.d-none]="!message.invalid || !message.touched"
              id="errorImgText"
              class="imgPositioning"
              src="../../assets/img/errorSymbol.png"
            />
            <img
              [class.d-none]="message.invalid || !message.touched"
              id="successImgText"
              class="imgPositioning"
              src="../../assets/img/successSymbol.png"
            />
          </div>
          <span
            [class.d-none]="!message.invalid || !message.touched"
            id="errorText"
          >
            {{ texts.MESSAGE_ERROR }}
          </span>
        </div>
        <div class="inputGab">
          <div class="privacy" (blur)="privacyTouched = true">
            <img
              (click)="togglePrivacy($event)"
              [src]="getCheckboxImage()"
              (mouseover)="onPrivacyHover(true)"
              (mouseout)="onPrivacyHover(false)"
            />
            <span>
              {{ texts.PRIVACY_1 }}
              <a
                routerLink="/policy"
                routerLinkActive="active"
                (click)="navigatePolicy($event)"
                >{{ texts.PRIVACY_2 }}</a
              >
              {{ texts.PRIVACY_3 }}
            </span>
          </div>

          <span
            [class.d-none]="contactData.privacy || !privacyTouched"
            id="errorPrivacy"
          >
            {{ texts.PRIVACY_ERROR }}
          </span>
        </div>
        <div>
          <button
            [disabled]="
              contactForm.invalid || !contactForm.dirty || !contactData.privacy
            "
            [ngClass]="{
              disabledButton:
                contactForm.invalid ||
                !contactForm.dirty ||
                !contactData.privacy,
              enabledButton:
                contactForm.valid && contactForm.dirty && contactData.privacy
            }"
          >
            {{ buttonText }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="buttonup">
    <div class="topArrow" (click)="scrollToTop()">
      <img src="../../assets/img/up-arrow.png" alt="Back to top" />
    </div>
  </div>
</section>
