<section>
  <div class="wrapperContact">
    <div data-aos="fade-right" class="headline aos-init aos-animate">
      <h1>Contact</h1>
      <img src="../../assets/img/greenLineContacts.png" />
    </div>
    <div class="middleSection">
      <div data-aos="fade-right" class="contactTextbox aos-init aos-animate">
        <div class="contactTextheadline">
          <h2>Got a problem to solve?</h2>
        </div>
        <div class="contactText">
          <span>
            Contact me through this form, I am interested in hearing you,
            knowing your ideas and contributing to your projects with my work.
          </span>
          <span class="callToAction">
            Need a Frontend developer?
            <br />
            <b>Contact me!</b>
          </span>
        </div>
      </div>
      <form
        (ngSubmit)="onSubmit(contactForm)"
        #contactForm="ngForm"
        novalidate
        data-aos="fade-left"
        class="formGab aos-init aos-animate"
      >
        <div class="inputGab">
          <div class="inputBox">
            <input
              name="name"
              type="text"
              id="inputName"
              required
              placeholder="Your name"
              [(ngModel)]="contactData.name"
              #name="ngModel"
              (blur)="name.control.markAsTouched()"
            />
            <img
              [class.d-none]="!name.invalid || !name.touched"
              id="errorImgName"
              class="imgPositioning"
              src="../../assets/img/errorSymbol.png"
            />
            <img
              [class.d-none]="name.invalid || !name.touched"
              id="successImgName"
              class="imgPositioning"
              src="../../assets/img/successSymbol.png"
            />
          </div>
          <span [class.d-none]="!name.invalid || !name.touched" id="errorName">
            Ihr Name wird benötigt
          </span>
        </div>
        <div class="inputGab">
          <div class="inputBox">
            <input
              name="email"
              type="email"
              id="inputMail"
              required
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
              placeholder="Your Email"
              [(ngModel)]="contactData.email"
              #email="ngModel"
              (blur)="email.control.markAsTouched()"
            />
            <img
              [class.d-none]="!email.invalid || !email.touched"
              id="errorImgMail"
              class="imgPositioning"
              src="../../assets/img/errorSymbol.png"
            />
            <img
              [class.d-none]="email.invalid || !email.touched"
              id="successImgMail"
              class="imgPositioning"
              src="../../assets/img/successSymbol.png"
            />
          </div>
          <span
            [class.d-none]="!email.invalid || !email.touched"
            id="errorMail"
          >
            Ihre E-Mail wird benötigt (z.B. beispiel&#64;domain.de)
          </span>
        </div>
        <div class="inputGab">
          <div class="inputBox">
            <textarea
              name="text"
              minlength="4"
              id="inputText"
              required
              placeholder="Your Message"
              [(ngModel)]="contactData.message"
              #message="ngModel"
              (blur)="message.control.markAsTouched()"
            ></textarea>
            <img
              [class.d-none]="!message.invalid || !message.touched"
              id="errorImgText"
              class="imgPositioning"
              src="../../assets/img/errorSymbol.png"
            />
            <img
              [class.d-none]="message.invalid || !message.touched"
              id="successImgText"
              class="imgPositioning"
              src="../../assets/img/successSymbol.png"
            />
          </div>
          <span
            [class.d-none]="!message.invalid || !message.touched"
            id="errorText"
          >
            Ihre Nachricht ist leer oder hat weniger als 4 Buchstaben
          </span>
        </div>
        <div class="inputGab">
          <div
            class="privacy"
            (click)="togglePrivacy()"
            (blur)="privacyTouched = true"
          >
            <img
              [src]="getCheckboxImage()"
              (mouseover)="onPrivacyHover(true)"
              (mouseout)="onPrivacyHover(false)"
            />
            <span>
              Ich habe die
              <a
                routerlink="/privacy"
                routerlinkactive="active"
                href="#/privacy"
                >Datenschutzbestimmung</a
              >
              gelesen und stimme der Verarbeitung zu.
            </span>
          </div>
          <span
            [class.d-none]="contactData.privacy || !privacyTouched"
            id="errorPrivacy"
          >
            Bitte akzeptieren Sie die Datenschutzbestimmung
          </span>
        </div>
        <div>
          <button
            [disabled]="
              contactForm.invalid || !contactForm.dirty || !contactData.privacy
            "
            [ngClass]="{
              disabledButton:
                contactForm.invalid ||
                !contactForm.dirty ||
                !contactData.privacy,
              enabledButton:
                contactForm.valid && contactForm.dirty && contactData.privacy
            }"
          >
            Send
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
