<img
  data-aos="fade-right"
  class="purpleline aos-init aos-animate"
  src="../../assets/img/line_purple.png"
/>
<section>
  <div id="myportfolio" class="myportfolio"></div>
  <div data-aos="fade-right" class="headlinecontainer aos-init aos-animate">
    <div class="headline">
      <h1>Portfolio</h1>
    </div>
    <span
      >Explore a selection of my work here - Interact with projects to see my
      skills in action.
    </span>
  </div>
  <div class="portfoliowrapper">
    <div id="mycontact" class="anchorpointcontact"></div>
    <div class="portfoliocontainer">
      <div class="firstRow">
        <app-project
          data-aos="flip-up"
          data-aos-duration="750"
          data-aos-delay="0"
          imagesrc="../../assets/img/polloloco_Bg.png"
          projecttitle="El Pollo Loco"
          description="Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen"
          tech="Javascript | HTML | CSS"
          idgit="polloGit"
          idtest="polloTest"
          idproject="pollo"
          idbackground="polloBg"
          idimage="polloImg"
          class="aos-init aos-animate"
        >
        </app-project
        ><app-project
          data-aos="flip-up"
          data-aos-duration="750"
          data-aos-delay="0"
          imagesrc="../../assets/img/polloloco_Bg.png"
          projecttitle="El Pollo Loco"
          description="Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen"
          tech="Javascript | HTML | CSS"
          idgit="polloGit"
          idtest="polloTest"
          idproject="pollo"
          idbackground="polloBg"
          idimage="polloImg"
          class="aos-init aos-animate"
        >
        </app-project>
      </div>
      <div class="secondRow">
        <app-project
          data-aos="flip-up"
          data-aos-duration="750"
          data-aos-delay="0"
          imagesrc="../../assets/img/polloloco_Bg.png"
          projecttitle="El Pollo Loco"
          description="Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen"
          tech="Javascript | HTML | CSS"
          idgit="polloGit"
          idtest="polloTest"
          idproject="pollo"
          idbackground="polloBg"
          idimage="polloImg"
          class="aos-init aos-animate"
        >
        </app-project>
      </div>
    </div>
  </div>
  <div class="shadows"></div>
</section>
