<img
  data-aos="fade-right"
  class="purpleline aos-init aos-animate"
  src="../../assets/img/line_purple.png"
/>
<section>
  <div data-aos="fade-right" class="headlinecontainer aos-init aos-animate">
    <div class="headline">
      <h1>Portfolio</h1>
    </div>
    <span
      >Entdecken Sie hier eine Auswahl meiner Arbeiten - Interagieren Sie mit
      Projekten, um meine Fähigkeiten in Aktion zu sehen.
    </span>
  </div>
  <div class="portfoliowrapper">
    <div id="mycontact" class="anchorpointcontact"></div>
    <div class="portfoliocontainer">
      <div class="firstRow">
        <app-project
          data-aos="flip-up"
          data-aos-duration="750"
          data-aos-delay="0"
          imagesrc="../../assets/img/polloloco_Bg.png"
          projecttitle="El Pollo Loco"
          description="Ein Spring-, Lauf- und Wurfspiel auf objektorientierter
          Basis. Helfen Sie Pepe, Münzen und
          Tabasco-Salsa zu finden, 
          um gegen die verrückte Henne zu kämpfen"
          tech="Javascript | HTML | CSS"
          idgit="polloGit"
          idtest="polloTest"
          idproject="pollo"
          idbackground="polloBg"
          idimage="polloImg"
          class="aos-init aos-animate"
        >
        </app-project
        ><app-project
          data-aos="flip-up"
          data-aos-duration="750"
          data-aos-delay="0"
          imagesrc="../../assets/img/polloloco_Bg.png"
          projecttitle="El Pollo Loco"
          description="Ein Spring-, Lauf- und Wurfspiel auf objektorientierter
        Basis. Helfen Sie Pepe, Münzen und
        Tabasco-Salsa zu finden, 
        um gegen die verrückte Henne zu kämpfen"
          tech="Javascript | HTML | CSS"
          idgit="polloGit"
          idtest="polloTest"
          idproject="pollo"
          idbackground="polloBg"
          idimage="polloImg"
          class="aos-init aos-animate"
        >
        </app-project>
      </div>
      <div class="secondRow">
        <app-project
          data-aos="flip-up"
          data-aos-duration="750"
          data-aos-delay="0"
          imagesrc="../../assets/img/polloloco_Bg.png"
          projecttitle="El Pollo Loco"
          description="Ein Spring-, Lauf- und Wurfspiel auf objektorientierter
        Basis. Helfen Sie Pepe, Münzen und
        Tabasco-Salsa zu finden, 
        um gegen die verrückte Henne zu kämpfen"
          tech="Javascript | HTML | CSS"
          idgit="polloGit"
          idtest="polloTest"
          idproject="pollo"
          idbackground="polloBg"
          idimage="polloImg"
          class="aos-init aos-animate"
        >
        </app-project>
      </div>
    </div>
  </div>
  <div class="shadows"></div>
</section>
