<section (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="bg_project d-none" id="{{ idproject }}">
    <div class="orientation">
      <h1>{{ projecttitle }}</h1>
      <p>
        {{ description }}
      </p>
      <span>{{ tech }}</span>
    </div>
    <button class="gitButton gitLink" id="{{ idgit }}">Github</button>
    <button class="testButton liveTest" id="{{ idtest }}">Live test</button>
  </div>
  <div class="background" id="{{ idbackground }}"></div>
  <img #image id="{{ idimage }}" src="{{ imagesrc }}" />
</section>
