$specgreen: rgb(112, 230, 28); //#70e61c
$speclightblue: rgb(28, 218, 230); //#1cdae6
$specpurple: rgb(151, 71, 255); //#9747ff
$darkblueBG: rgb(20, 29, 47); //#141D2F
$darkbluetransparency: rgba(20, 29, 47, 0.8);
$white: rgb(255, 255, 255);
$shadowdark: rgb(0, 0, 64);
$red: rgb(230, 28, 64); //#e61c40
$grey: rgb(182, 182, 182); //#b6b6b6
$bluezodiac: rgb(65, 72, 86); //#414856
$transparantblack: rgba(0, 0, 0, 0.4);
