@import "./assets/colors.scss";

@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins400;
  src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins700;
  src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
}

body {
  margin: 0;
  font-family: Poppins;
  overflow-x: hidden;
  background-color: $darkblueBG;
}

app-skills {
  position: relative;
  top: -180px;
}

@media (max-width: 1400px) {
  app-skills {
    top: -150px;
  }
}
@media (max-width: 900px) {
  app-main-layout {
    width: 100vw;
    overflow-x: hidden;
    display: block;
  }
}
@media (max-width: 700px) {
  app-skills {
    position: relative;
    top: 0;
  }
}
@media (max-width: 350px) {
  app-skills {
    position: relative;
    top: 40px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $specgreen;
  border-radius: 2px;
}
