@font-face {
  font-family: Poppins;
  src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins400;
  src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins700;
  src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
}

body {
  margin: 0;
  font-family: Poppins;
  overflow-x: hidden;
  background-color: rgb(20, 29, 47);
}

app-skills {
  position: relative;
  top: -400px;
}

@media (max-width: 1400px) {
  app-skills {
    top: -150px;
  }
}
@media (max-width: 700px) {
  app-skills {
    position: relative;
    top: 0;
  }
}
@media (max-width: 350px) {
  app-skills {
    position: relative;
    top: 40px;
  }
}
